body, html {
    background-color: #ebe7e2;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
}
.no-scroll {
    overflow: hidden;
}
.files-a.locked {
    cursor: not-allowed !important;
    filter: alpha(opacity=65);
    opacity: .65;
}
.page-content-wrapper {
    background-color: #ffffff;
    margin: 15px;
    padding: 0;
}
.dialog-content-wrapper {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.content-body {
    border-radius: 4px;
}
.files-heading {
    margin: 0;
    padding: 15px;
    background-color: #dedede;
}
.form-body {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}
.scroll-wrapper {
    margin-top: 10px;
}
.dialog-wrapper {
    margin-top: 10px;
}
.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    .row.equal {
        display: flex;
        flex-wrap: wrap;
    }
}
.fileupload-buttonbar {
    margin: 0;
    padding: 15px;
    background-color: #dedede;
}
.form-control.search-box {
    /*margin-top: 7px;*/
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #000; /*#555;*/
    background-color: #fff;
    background-image: none;
    border: #bcd8db solid 1px;
    border-radius: 4px;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    border-color: #31a3ae;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control:invalid, input:invalid, select.select2:required + .select2-container .select2-selection--single {
    border-color: #ff0000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.01), 0 0 5px rgba(255, 42, 20, .4);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.01), 0 0 5px rgba(255, 42, 20, .4);
}
.has-error {
    border-color: #ff0000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 42, 20, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 42, 20, .6);
}
.has-success .form-control {
    border-color: #bcd8db;
    box-shadow: none;
}
.has-success .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
*:focus {
    outline: none !important;
}
.btn-default {
    color: #333;
    background-color: #f3f3f3;
    border-color: #ccc;
}
.btn-default:focus, .btn-default:hover {
    outline: none;
}
.btn-orange {
    color: #fff;
    background-color: #f36118;
    border-color: #e44c14;
}
.btn-orange:hover, .btn-orange:focus, .btn-orange.active {
    color: #fff;
    background-color: #e44c14;
    border-color: #e44c14;
}
i {
    padding: 3px 0;
}
.btn-darkblue {
    color: #fff;
    background-color: #1195bb;
    border-color: #1187ae;
}
.btn-darkblue:hover, .btn-darkblue:focus, .btn-darkblue.active {
    color: #fff;
    background-color: #0885a4;
    border-color: #24709f;
}
.disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}
.btn-darkblue.disabled, .btn-darkblue[disabled] {
    color: #d2d2d2;
    background-color: #0885a4;
    border-color: #24709f;
    cursor: not-allowed;
    filter: alpha(opacity=0);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}
.btn-danger {
    color: #fff;
    background-color: #da2004;
    border-color: #d11c04;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger.active {
    color: #fff;
    background-color: #c72923;
    border-color: #9e2723;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-success:focus, .btn-success:hover, .btn-success:active {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}
.btn-warning {
    color: #fff;
    background-color: #ffb00c;
    border-color: #ffc107;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
}
.btn-warning.disabled, .btn-warning[disabled] {
    color: #d2d2d2;
    background-color: #f0ad4e;
    border-color: #eea236;
    cursor: not-allowed;
    filter: alpha(opacity=0);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}
.btn-md {
    padding: 5px 12px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-md {
    padding: 3px 5px;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-warning {
     color: #856404;
     background-color: #fff3cd;
     border-color: #ffeeba;
 }
.alert-warning-info {
    color: #000000;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
input.search-trigger {
    background-image: url('../images/search.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right;
    background-position-x: 95%;
    padding-right: 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
a {
    text-shadow: none;
    color: #405261;
    text-decoration: none;
    outline: none;
}
a:focus, a:hover, a:active {
    /*color: #da2004;*/
    text-decoration: none;
    outline: none;
}
.break-word {
    display: block;
    float: left;
    padding: 3px 0 7px 0;
    word-wrap: break-word;
}
.head {
    display: block;
    float: left;
    padding-right: 5px;
    color: #405261;
}
.head a:hover {
    color: #da2004;
    text-decoration: none;
    outline: none;
}
.breadcrumbs {
    display: block;
    float: left;
    color: #405261;
    font-size: 14px;
}
.breadcrumbs a:hover {
    color: #da2004;
    text-decoration: none;
    outline: none;
}

/* //////////////////////////////////// */
/* FILEHANDLER STYLES */
/* //////////////////////////////////// */

/* SVG ICONS STYLES */

img, svg {vertical-align: middle;}
.svg-icon {fill: currentColor}
.svg-file_default, .svg-none {fill: #90A4AE}
.svg-application {fill: #0064c8}
.svg-archive {fill: #f8c560}
.svg-audio {fill: #55617e}
.svg-cd {fill: #e9967a}
.svg-code {fill: #f19a3a}
.svg-excel {fill: #5cb85c}
.svg-font, .svg-font .svg-file-icon {fill: #607D8B}
.svg-image {fill: #8cbd61}
.svg-image .svg-file-text-bg {fill: #5cb85c}
.svg-pdf {fill: #ca4d50}
.svg-powerpoint {fill: #e67841}
.svg-text {fill: #90A4AE}
.svg-video {fill: #ec6068}
.svg-word {fill: #0399e1}
.svg-file-bg {fill: #e9e9e0}
.svg-file-flip {fill: #d9d7ca}
.svg-file-icon {fill: #c8bdb8}
.svg-check {
    stroke: #78a642;
    stroke-width: 0.15em;
}
.svg-error {
    stroke: #ff0000;
    stroke-width: 0.15em;
}
.svg-file-ext {
    fill: white;
    font-weight: 500;
    text-transform: uppercase;
    text-anchor: middle;
    font-size: 12px
}
.svg-folder-bg {
    fill: #FFA000
}
.svg-folder-fg {
    fill: #FFCA28
}
.svg-folder-symlink {
    fill: #ffe9a8
}
.svg-file-forbidden {
    fill: #dc3545
}
.svg-folder-forbidden {
    fill: tomato
}
.files-svg.svg-folder {
    padding: 10px 10px;
}
.files-img, .files-svg {
    display: block;
    padding: 10px 10px;
    width: 100%;
    height: 90px;
}
.files-img {
    object-fit: cover;
}
.files-img-svg {
    object-fit: contain !important
}
.svg-icon {
    width: 1em;
    height: 1em;
    font-size: 24px;
    vertical-align: bottom;
    pointer-events: none
}

div.files-a, a.files-a {
    float: left;
    display: block;
    width: 100%;
}
div.files-a, a.files-a {
    color: inherit;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
}
div.files-a:hover, a.files-a:hover {
    background: #f7f7f7;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* MEDIA-ITEM/S UI-SELECTED STYLE */

.media-items .ui-selected, .media-items .files-blocks.ui-selected{
    background: #c7ecf8;  /* #b1e5f5;   #e9f7fb; */
}
.empty, .no-results {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    line-height: 50px;
    font-style: italic;
    text-align: center;
    background: #f7f7f7;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}
/* MEDIA-ITEMS LAYOUT STYLE */

.media-items {
    display: block;
    margin-top: 0;
    line-height: 30px;
    border-top: 1px solid #ddd;
}
.media-items .preview {
    float: left;
    display: block;
    padding: 0 10px;
}

/* IMAGELIST-LAYOUT STYLE */

.imageList-layout .preview .files-img {
    display: block;
    padding: 10px 0;
    width: 100%;
}
.imageList-layout .preview .files-svg {
    display: block;
    padding: 5px 0;
    width: 100%;
    height: 80px;
}
.imageList-layout .preview img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    object-position: 100% 0;
}
.imageList-layout .preview .svg-file, .imageList-layout .preview .svg-folder {
    display: block;
    height: 80px;
    width: 80px;
    padding: 7px;
}
.imageList-layout .name {
    float: left;
    display: block;
    width: 34%;
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.imageList-layout .status {
    float: left;
    display: block;
    width: 4%;
}
.imageList-layout .status i {
    padding: 0 1px;
}
.imageList-layout .dimensions {
    float: left;
    display: block;
    width: 13%;
}
.imageList-layout .ext {
    float: left;
    display: block;
    width: 8%;
    text-transform: uppercase;
}
.imageList-layout .size {
    float: left;
    display: block;
    width: 12%;
    padding-left: 7px;
}
.imageList-layout .event {
    float: left;
    display: block;
    width: 16%;
}

/* LIST-LAYOUT STYLE */

.list-layout .files-svg {
    display: block;
    width: 100%;
    height: 50px;
}
.list-layout .svg-file, .preview .svg-folder {
    display: block;
    width: 100%;
    padding: 10px;
}
.list-layout .files-a {
    display: block;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
}
.list-layout .files-a:hover {
    background: #f7f7f7;
    text-decoration: none;
    cursor: pointer;
}
.list-layout .files-data {
    font-weight: 500;
    color: #455A64;
}
.list-layout .icon {
    float: left;
    display: block;
    width: 5%;
    height: 30px;
    line-height: 27px;
    padding-left: 10px;
    overflow: hidden;
}
.list-layout .name {
    float: left;
    display: block;
    width: 41%;
    padding: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-layout .status {
    float: left;
    display: block;
    width: 4%;
}
.list-layout .status i {
    padding: 0 1px;
}
.list-layout .dimensions {
    float: left;
    display: block;
    width: 13%;
}
.list-layout .ext {
    float: left;
    display: block;
    width: 8%;
    text-transform: uppercase;
}
.list-layout .size {
    float: left;
    display: block;
    width: 12%;
    padding-left: 7px;
}
.list-layout .date {
    float: left;
    display: block;
    width: 16%;
}

/* BOX_LAYOUT STYLE */

.box-layout .files-a:hover {
    background: #f7f7f7;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
.files-blocks .preview .files-img, .files-blocks .preview .files-svg {
    display: block;
    width: 130px;
    height: 130px;
    padding: 25px;
}
.media-items.box-layout {
    position: relative;
    float: left;
    display: block;
    padding: 10px;
    width: 100%;
    background-color: #f5f5f5; /* #f5f5f5 */
    border-top: transparent;

}
.media-items .files-blocks {
    display: block;
    width: 47.5%;
    min-height: 1px;
    background-color: #ffffff;
    height: 130px;
    margin: 10px;
    border-bottom: transparent;
}
.media-items .files-blocks .preview {
    float: left;
    display: block;
    padding: 0;
}
.media-items .files-blocks .preview img {
    float: left;
    display: block;
    height: 130px;
    width: 130px;
    object-fit: cover;
    object-position: 100% 0;
}
.media-items .files-blocks .files-data {
    display: block;
    width: auto;
    font-size: 14px;
    line-height: 25px;
    padding: 10px 10px;
    overflow: hidden;
}
.files-blocks .preview .svg-file {
    display: block;
    height: 130px;
    width: 130px;
    padding: 10px;
}
.files-blocks .name {
    display: block;
    width: 100%;
    padding: 0;
    color: #455a64;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.files-blocks .status {
    display: block;
    width: 100%;
}
.files-blocks .status i {
    padding: 0 1px;
}
.files-blocks .dimensions {
    display: block;
    width: 100%;
    color: #607D8b;
}
.files-blocks .size {
    display: block;
    width: 100%;
    color: #607D8b;
    padding-left: 0;
}
.files-blocks .date {
    display: block;
    width: 100%;
    color: #607D8b;
}

/*  /////////////////////////////////////  */






/* https://www.w3schools.com/css/default.asp */

/* CSS3 Flexbox */

/* // https://css-tricks.com/box-sizing/ // */

/* list nesting counters css */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters */

/* https://stackoverflow.com/questions/10405945/html-ordered-list-1-1-1-2-nested-counters-and-scope-not-working */

/* http://jsfiddle.net/PTbGc/ */
